
body
   overflow-x: hidden
   background: $darkBlue

.title-bg-center
   font-weight: 900
   font-family: Inter
   font-size: 108px
   line-height: 116px
   text-align: center
   text-transform: uppercase
   color: white
   margin: 0 auto
   span
      display: block   